/* Personal webpage css */
/* Edited by Yann David - February 2021 */

/******* GENERAL SETTINGS ************************************/
/* Resetting margin/padding/margins */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/****** HEADER PART **********************************************/

/****** BODY PART **********************************************/

/* Setting body parameters */
body {
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  font-size: 100%;
}

/* Title options */
h1 {
  /* defining font zie relative to body font size */
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 80px;
  margin-bottom: 40px;
  text-align: center;
}

/* Creating a margin between screen border and content */
div.container {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
}
div.background {
  color: white;
  background: linear-gradient(
    to right top,
    #051937,
    #113c63,
    #0f405f,
    #11698c,
    #0e86a7
  );
  top: 0px;
  width: 100%;
  /* border: 1px solid black; */
  padding-bottom: 60px;
}

div.presentation {
  /* position relative to ancestor element */
  margin: 0px auto 60px auto;
}

div.identity {
  font-size: 1.7em;
  font-weight: 900;
  text-align: center;
}

img.imagePresentation {
  border-radius: 50%;
  width: 180px;
  height: auto;
}

.selfPresentation {
  text-align: justify;
}

/* Defining links parameters in paragraphs */
p a:link,
p a:visited {
  /* removing bottom line of links in header */
  text-decoration: none;
  /* setting default links font color in header */
  color: white;
  font-weight: 900;
}

p a:hover,
p a:active {
  /* setting links font color in header when hover or active */
  color: rgb(0, 153, 255);
  /* setting links font weight in header when hover or active */
  font-weight: 900;
  font-style: italic;
}

p > br {
  display: block;
  content: ""; /*option added for spacing to work on chrome*/
  margin-bottom: 30px;
}

ul.networkLinks {
  clear: left;
  /* removing list buttons */
  list-style-type: none;
  text-align: center;
  margin-top: 30px;
}

ul.networkLinks li {
  /* ensuring links are aligned */
  display: inline-block;
  float: none;
}

ul.networkLinks li a {
  /* creating button blocks */
  display: block;
  /* space between buttons */
  padding: 8px 15px 8px 15px;
  border: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  margin-left: 20px;
}

ul.networkLinks li a:link,
ul.networkLinks li a:visited {
  /* removing bottom line of links in div */
  text-decoration: none;
  /* setting default links font color in div */
  font-weight: 900;
  color: white;
}

ul.networkLinks li a:hover,
ul.networkLinks li a:active {
  /* setting links font color in div when hover or active */
  color: rgb(0, 153, 255);
  /* setting links font weight in div when hover or active */
  font-weight: 900;
}

h1.titleProject {
  color: #051937;
  font-weight: 900;
}

div.projectsPresentation {
  margin: 0px auto 60px auto;
}

a.projectCard {
  text-decoration: none;
  margin: 40px 0px 40px 0px;
}

.epc {
  /* setting default links font color in div */
  font-weight: 900;
  color: white;
  background: linear-gradient(
    to right top,
    rgb(15, 28, 112) 20%,
    rgb(23, 99, 37) 100%
  );
  height: 150px;
  width: 25%;
  padding-top: 55px;
  text-align: center;
}

.descartes {
  /* setting default links font color in div */
  font-weight: 900;
  color: white;
  background: linear-gradient(
    to right top,
    rgb(15, 28, 112) 30%,
    rgb(154, 47, 163) 100%
  );
  height: 150px;
  width: 25%;
  padding-top: 55px;
  text-align: center;
}

.projectCard h2 {
  font-size: 1.3rem;
  margin-bottom: 15px;
}
.projectCard article {
  padding: 0px 20px 0px 20px;
  text-align: justify;
}

.projectCard p {
  margin-bottom: 10px;
}
span.wip {
  background-color: goldenrod;
  padding: 1px 7px;
  margin-left: 2px;
  vertical-align: middle;
  color: white;
  border-radius: 20px;
  font-style: italic;
  font-size: 0.7rem;
}
span.end {
  background-color: rgb(80, 79, 76);
  padding: 1px 7px;
  margin-left: 2px;
  vertical-align: middle;
  color: white;
  border-radius: 20px;
  font-style: italic;
  font-size: 0.7rem;
}
span.method {
  /* border: #051937 solid 1px; */
  border-radius: 10px;
  font-size: 0.7rem;
  padding: 1px 6px;
  font-style: italic;
}

a.projectCard:link,
a.projectCard:visited {
  color: black;
}

a.projectCard:hover,
a.projectCard:active {
  color: #051937;
}

/*********************  Large devices *****************************/
@media (min-width: 900px) {
  div.presentation {
    /* box width */
    width: 800px;
    display: flex;
    flex-flow: row;
  }
  .identity {
    /* display: flex;
    flex-direction: column; */
    /* float: right; */
  }
  .selfPresentation {
    /* float: left; */
    margin: 0px 50px 0px 0px;
  }

  div.projectsPresentation {
    width: 900px;
  }
  a.projectCard {
    display: flex;
    flex-direction: row;
  }
  .projectCard article {
    width: 75%;
  }
  .epc {
    width: 25%;
  }

  .descartes {
    width: 25%;
  }
}

@media (max-width: 899px) {
  div.presentation {
    /* box width */
    width: 100%;
    display: flex;
    flex-flow: column-reverse;
  }
  .identity {
    width: 100%;
    /* float: right; */
    margin-bottom: 30px;
  }
  .selfPresentation {
    /* float: left; */
    width: 99%;
    padding: 0px 20px 0px 20px;
  }
  div.projectsPresentation {
    width: 100%;
  }
  a.projectCard {
    display: flex;
    flex-direction: column;
  }
  .epc {
    width: 100%;
  }

  .descartes {
    width: 100%;
  }
}
